.search-group {
  position: relative;
  display: flex;
  align-items: center;
}

.search-group .search-input {
  padding-right: 40px;
}

.search-group .button {
  position: absolute;
  right: 0px;
  height: 100%;
  padding: 0 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-group .button img {
  height: 100%;
  max-height: 18px;
}
