select {
  appearance: none;
  -webkit-appearance: none;
  background-color: var(--code-bg);
  color: var(--text-h);
  border: 1px solid var(--border);
  padding: 8px 36px 8px 16px;
  border-radius: 6px;
  font-family: var(--sans);
  font-size: 15px;
  cursor: pointer;
  background-image: url("@assets/icons/ui/filter.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
  transition: all 0.3s;
}

select:hover,
select:focus {
  border-color: var(--accent);
  outline: none;
}
